@import '../../variables.scss';

:host::ng-deep {
    form {
        height: 60px;
        display: flex;
        align-items: stretch;
        flex-direction: row;
        align-content: stretch;
        justify-content: space-between;
        overflow: hidden;

        .mat-form-field {
            width: 100%;
        }

        .mat-button {
            background: #444753;
            color: #fff;
            text-transform: uppercase;
        }

        .ng-touched::-webkit-input-placeholder {
            visibility: hidden;
        }

        .ng-untouched::-webkit-input-placeholder {
            color: #92959E;
        }
    }
}
